body {
  background-color: #0a0606;
  font-family: "Poppins", sans-serif;
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(59, 16, 16);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.titulo {
  color: #1a73e8;
  margin-bottom: 10px;
}

.descricao {
  font-size: 16px;
  margin-bottom: 20px;
  color: #0a0606;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

ul li {
  background: #e8f0fe;
  margin: 5px 0;
  padding: 8px;
  border-radius: 8px;
}

#link {
  color: #1a73e8;
  text-decoration: none;
  font-weight: bold;
}

#link:hover {
  text-decoration: underline;
}

img {
  width: 120px;
  margin-top: 20px;
}
